<div class="login-div" id="forgot-form_sub-div">
    <div class="wrapper fadeInDown">
        <div id="formContent" class="bg-dark chroma">
            <br>
            <div class="fadeIn first">
                <h1 style="color: #fff; letter-spacing: 1.5px; font-family: 'Source Code Pro', monospace; font-size: 1.5vw;">Skriv inn e-postadresse</h1>
            </div>

            <form id="bForm">
                <br>
                <input type="text" id="inp_epost" class="fadeIn second" name="login" placeholder="e-post"><br>
                <input type="button" class="fadeIn fourth" id="sendEmail" value="Send mail">
            </form>
        </div>
    </div>
</div>