<div class="container rounded-3 w-75 m-0 p-0 mx-auto mt-5 mb-0 text-light" style="background:transparent;">
    <div class="row d-flex p-0 m-0">
        <div class="col-lg-5">
            <!---Nytt Innlegg-->
            <div class="card gedf-card mx-auto mt-2 mb-4" style="background: #202124; z-index: 1;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-white border-0" style="background: #111;" id="posts-tab" role="tab"
                                aria-controls="posts" aria-selected="false">Publiser et
                                innlegg</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" style="background: #111;">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input class="form-control border-dark text-light" id="titleHome"
                                        placeholder="Beskrivelse" style="background-color:rgb(60, 64, 67, 0.90)">
                                    <label for="titleGroup" style="color: white;">Tittel</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control border-dark text-light" id="descriptionHome"
                                        placeholder="Beskrivelse"
                                        style="height: 100px; background-color:rgb(60, 64, 67, 0.90)">
                                    <label for="descriptionGroup" style="color: white;">Beskrivelse</label>
                                </div>

                                <input type="file" class="form-control-file text-light mb-3" accept="image/*"
                                    id="chooseHomePic">

                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-dark mt-0" id="uploadHome">Del
                                innlegg</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group me-auto border-dark" id="ownedHome">
                <div class="row w-100" id="grpOwned">
                    <h5>Grupper du eier</h5>
                </div>
            </div>
            <div class="card-group me-auto border-dark" id="favsHome">
                <div class="row w-100 pt-3" id="grpFavs">
                    <h5>Mine favoritter</h5>
                </div>
            </div>
        </div>
        <!-- Slutt på Nytt innlegg-->

          <!-- Innlegg i feeden appendes hit -->
        <div id="firstPosts" class="col-lg-7" style="background-color:green;"> <!-- Dersom vi skal bruke funksjonen som henter 4 innlegg av gangen skal de 4 første prependes hit -->
            
            <div class="col-lg-12" id="scrollPosts" style="background-color:blue;"> <!-- Og alle innlegg som hentes etterpå på scroll til bunnen (4 og 4 av gangen) prependes hit -->
            </div>
        </div>

<!----------- Loader ----------->
<div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div>



        <!--Innlegg STATISKE, ER DISPLAY NONE !!Egendefinert!!-->
        <div class="col-lg-7"  style="display:none;">
            <div class="col-lg-12" id="postCol">
                <div class="card gedf-card m-2 bg-dark">
                    <!--Innlegg header-->
                    <div class="card-header bg-dark bg-gradient">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle m-3" width="45" src="img/cubr.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0 text-light">CheekyCub <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                        </svg> Call of Duty Warzone Norge</div>
                                    <div class="h7 text-light">Jacob Kristensen</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Innlegg body-->
                    <div class="card-body bg-dark text-light">
                        <div class="text-light h7 mb-2"> <i class="fa fa-clock-o"></i> <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock" viewBox="0 0 16 16">
                                <path
                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                            </svg> 17:11
                        </div>
                        <h5 class="card-title text-light">Trenger spillere, helst over 1 i K/D </h5>

                        <p class="card-text">
                            Joiner noen Warzone? Trenger en til Quads, Activision ID: CubR_the_Ch33ky
                        </p>
                        <img class="card-img m-0" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image">

                        <!--Innlegg footer-->
                        <div class="card-footer bg-dark d-flex">
                            <button type="button" class="btn btn-dark w-50 mx-auto">Kommenter
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                                </svg>
                            </button>
                            <button type="button" class="btn btn-dark w-50 mx-auto">Send melding
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chat-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!--Innlegg !!Xbox!!-->
                <div class="card gedf-card mx-auto m-2 bg-dark">
                    <!--Innlegg header-->
                    <div class="card-header bg-success bg-gradient">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle m-3" width="45" src="img/vigdis.jpg" alt="">
                                </div>

                                <div class="ml-2">
                                    <div class="h5 m-0 text-light">MaBigDs <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                        </svg> Xbox Samfunn</div>
                                    <div class="h7 text-light">Mats Jørgen Engesund</div>

                                </div>
                            </div>
                            <!--Innlegg emblem til høyre-->
                            <div class="text-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                    class="bi bi-xbox" viewBox="0 0 16 16">
                                    <path
                                        d="M7.202 15.967a7.987 7.987 0 0 1-3.552-1.26c-.898-.585-1.101-.826-1.101-1.306 0-.965 1.062-2.656 2.879-4.583C6.459 7.723 7.897 6.44 8.052 6.475c.302.068 2.718 2.423 3.622 3.531 1.43 1.753 2.088 3.189 1.754 3.829-.254.486-1.83 1.437-2.987 1.802-.954.301-2.207.429-3.239.33Zm-5.866-3.57C.589 11.253.212 10.127.03 8.497c-.06-.539-.038-.846.137-1.95.218-1.377 1.002-2.97 1.945-3.95.401-.417.437-.427.926-.263.595.2 1.23.638 2.213 1.528l.574.519-.313.385C4.056 6.553 2.52 9.086 1.94 10.653c-.315.852-.442 1.707-.306 2.063.091.24.007.15-.3-.319Zm13.101.195c.074-.36-.019-1.02-.238-1.687-.473-1.443-2.055-4.128-3.508-5.953l-.457-.575.494-.454c.646-.593 1.095-.948 1.58-1.25.381-.237.927-.448 1.161-.448.145 0 .654.528 1.065 1.104a8.372 8.372 0 0 1 1.343 3.102c.153.728.166 2.286.024 3.012a9.495 9.495 0 0 1-.6 1.893c-.179.393-.624 1.156-.82 1.404-.1.128-.1.127-.043-.148ZM7.335 1.952c-.67-.34-1.704-.705-2.276-.803a4.171 4.171 0 0 0-.759-.043c-.471.024-.45 0 .306-.358A7.778 7.778 0 0 1 6.47.128c.8-.169 2.306-.17 3.094-.005.85.18 1.853.552 2.418.9l.168.103-.385-.02c-.766-.038-1.88.27-3.078.853-.361.176-.676.316-.699.312a12.246 12.246 0 0 1-.654-.319Z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!--Innlegg body-->
                    <div class="card-body bg-dark text-light">
                        <div class="text-light h7 mb-2"> <i class="fa fa-clock-o"></i> <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock" viewBox="0 0 16 16">
                                <path
                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                            </svg> 17:34
                        </div>
                        <h5 class="card-title text-light"> Tips til skjerm for å få 120FPS</h5>

                        <p class="card-text">
                            Hei, jeg er usikker på hva slags skjerm jeg burde kjøpe for å få 120FPS på Xbox Series
                            X,
                            har
                            noen
                            av
                            dere noen tips?
                        </p>

                    </div>
                    <!--Innlegg footer-->
                    <div class="card-footer bg-dark d-flex">
                        <button type="button" class="btn btn-dark w-50 mx-auto">Kommenter
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-dark w-50 mx-auto">Send melding
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <!-- </div> -->


                <!--Innlegg !!Playstation!!-->
                <div class="card gedf-card mx-auto m-2 bg-dark">
                    <!--Innlegg header-->
                    <div class="card-header bg-primary bg-gradient">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle m-3" width="45" src="img/Gaal.jpg" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0 text-light">Gaal69 <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                        </svg> Playstation Samfunn</div>
                                    <div class="h7 text-light">Martin Gaal</div>
                                </div>
                            </div>
                            <!--Innlegg emblem til høyre-->
                            <div class="text-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                    class="bi bi-playstation" viewBox="0 0 16 16">
                                    <path
                                        d="M15.858 11.451c-.313.395-1.079.676-1.079.676l-5.696 2.046v-1.509l4.192-1.493c.476-.17.549-.412.162-.538-.386-.127-1.085-.09-1.56.08l-2.794.984v-1.566l.161-.054s.807-.286 1.942-.412c1.135-.125 2.525.017 3.616.43 1.23.39 1.368.962 1.056 1.356ZM9.625 8.883v-3.86c0-.453-.083-.87-.508-.988-.326-.105-.528.198-.528.65v9.664l-2.606-.827V2c1.108.206 2.722.692 3.59.985 2.207.757 2.955 1.7 2.955 3.825 0 2.071-1.278 2.856-2.903 2.072Zm-8.424 3.625C-.061 12.15-.271 11.41.304 10.984c.532-.394 1.436-.69 1.436-.69l3.737-1.33v1.515l-2.69.963c-.474.17-.547.411-.161.538.386.126 1.085.09 1.56-.08l1.29-.469v1.356l-.257.043a8.454 8.454 0 0 1-4.018-.323Z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <!--Innlegg body-->
                    <div class="card-body bg-dark text-light">
                        <div class="text-light h7 mb-2"> <i class="fa fa-clock-o"></i> <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clock" viewBox="0 0 16 16">
                                <path
                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                            </svg> 15:10
                        </div>
                        <h5 class="card-title text-light"> Hvordan bli kvitt morrapulere streetshitters</h5>

                        <p class="card-text">
                            Mulig jeg spørr på feil sted her nå, men hvordan skal jeg bli kvitt de morrapulerene av
                            noen
                            indiske
                            streetshitters som ringer meg hele tiden??
                        </p>
                        <img class="card-img m-0" src="img/button-help-keyboard-close-up-wallpaper-preview.jpeg"
                            alt="Card image">
                        <div class="card-img-overlay">
                        </div>
                        <!--Innlegg footer-->
                        <div class="card-footer bg-dark d-flex">
                            <button type="button" class="btn btn-dark w-50 mx-auto">Kommenter
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                                </svg>
                            </button>
                            <button type="button" class="btn btn-dark w-50 mx-auto">Send melding
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chat-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>