<div class="container rounded-3 w-75 m-0 p-0 mx-auto mt-5 mb-0 text-light" style="background:transparent;">
    <div class="row d-flex p-0 m-0">
        <div class="col-lg-5">
            <!---Nytt Innlegg-->
            <div class="card gedf-card mx-auto mt-2 mb-4" style="background: #202124; z-index: 1;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-white border-0" style="background: #111;" id="posts-tab" role="tab"
                                aria-controls="posts" aria-selected="false">Publiser et
                                innlegg</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" style="background: #111;">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input class="form-control border-dark text-light" id="titleHome"
                                        placeholder="Beskrivelse" style="background-color:rgb(60, 64, 67, 0.90)">
                                    <label for="titleGroup" style="color: white;">Tittel</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control border-dark text-light" id="descriptionHome"
                                        placeholder="Beskrivelse"
                                        style="height: 100px; background-color:rgb(60, 64, 67, 0.90)">
                                    <label for="descriptionGroup" style="color: white;">Beskrivelse</label>
                                </div>

                                <input type="file" class="form-control-file text-light mb-3" accept="image/*"
                                    id="chooseHomePic">

                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-between">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-dark mt-0" id="uploadHome">Del
                                innlegg</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group me-auto border-dark" id="ownedHome">
                <div class="row w-100" id="grpOwned">
                    <h5>Grupper du eier</h5>
                </div>
            </div>
            <div class="card-group me-auto border-dark" id="favsHome">
                <div class="row w-100 pt-3" id="grpFavs">
                    <h5>Mine favoritter</h5>
                </div>
            </div>
        </div>
        <!-- Slutt på Nytt innlegg-->

        <!-- Innlegg i feeden appendes hit -->
        <div id="firstPosts" class="col-lg-7">
            <!-- Dersom vi skal bruke funksjonen som henter 4 innlegg av gangen skal de 4 første prependes hit -->

            <div class="col-lg-12" id="scrollPosts">
                <!-- Og alle innlegg som hentes etterpå på scroll til bunnen (4 og 4 av gangen) prependes hit -->
            </div>
        </div>

        <!----------- Loader ----------->
        <div class="loader-wrapper" id="loader">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>

    </div>
</div>