<div class="modal" id="settingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content border-dark" style="background: #111;">
        <div class="modal-header">
            <h5 class="modal-title text-light" id="staticBackdropLabel">
                Innstillinger</h5>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body p-1">
            <!-- Nytt passord -->
            <div class="row align-items-center">
                <div class="card card-outline-secondary border-dark text-light" style="background: #111;">
                    <div class="card-header">
                        <h3 class="mb-0">Bytt passord</h3>
                    </div>
                    <div class="card-body" style="background: #111;">
                        <div class="form" role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="inputPasswordOld">Nåværende passord</label>
                                <input type="password"
                                    class="form-control bg-dark text-light border-dark"
                                    id="inputPasswordOld">
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordNew">Nytt passord</label>
                                <input type="password"
                                    class="form-control bg-dark text-light border-dark"
                                    id="inputPasswordNew" required="">
                                <span class="form-text small text-muted">
                                    Passordet må inneholde minst 8 tegn med minst en stor bokstav og et tall, og kan <em>ikke</em> inneholde
                                    mellomrom.
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordNewVerify">Gjenta nytt passord</label>
                                <input type="password"
                                    class="form-control bg-dark text-light border-dark"
                                    id="inputPasswordNewVerify" required="">
                                <span class="form-text small text-muted">
                                    For å bekrefte passordet, gjenta passordet her
                                </span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary float-right"
                                    id="confirmNewPassword">Oppdater
                                    passord</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- endre passord -->
            </div>
            <div class="modal-footer">
                <div class="col w-100 d-flex p-3">
                    <button class="btn-danger mx-auto" data-dismiss="modal"
                        data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                        data-backdrop="false" id="deleteUserBtn">
                        Slett konto</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Slutt på modal kontoinnstillinger -->
<!-- Modal slett konto -->
<div class="modal" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background: #111;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">Slett konto</h5>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Er du sikker på at du vil slette kontoen din?, dette kan ikke angres senere</h6>

            <div class="form-group f">
                <span class="form-text small text-muted">
                    Oppgi passordet ditt for å slette kontoen
                </span>
                <input type="password" class="form-control bg-dark text-light border-dark"
                    id="inputPasswordNewVerifySlett">
                <button class="btn btn-danger d-flex mx-auto mt-3" id="confirmDeleteUser">Slett konto
                    permanent</button>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#settingsModal" data-bs-toggle="modal">Gå
                tilbake</button>
        </div>
    </div>
</div>
</div>