<div class="login-div" id="reg-form_sub-div">
    <div class="wrapper fadeInDown">
        <div id="formContent" class="bg-dark">
            <br>
            <div class="fadeIn first">
                <h1 style="color: #fff; letter-spacing: 1.5px; font-family: 'Source Code Pro', monospace; font-size: 1.5vw;">Registrer en bruker:</h1>
            </div>

            <form id="bForm">
                <br>
                <input type="text" id="inp_epost" class="fadeIn second" name="login" placeholder="e-post"><br>
                <input type="text" id="inp_bnavn" class="fadeIn second" name="login" placeholder="brukernavn"><br>
                <input type="text" id="inp_navn" class="fadeIn second" name="login" placeholder="fult navn"><br>
                <input type="number" id="inp_alder" class="fadeIn second" name="login" placeholder="alder"><br>
                <input type="password" id="inp_passord" class="fadeIn third" name="login" placeholder="passord"><br>
                <input type="password" id="inp_passord2" class="fadeIn third" name="login" placeholder="repterer passord"><br>
                <input type="submit" class="fadeIn fourth" id="regBtn" value="Registrer">
            </form>
        </div>
    </div>
</div>