<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grupper</title>
	<link rel="stylesheet" href="css/bootstrap-5.1.3-dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/home.css">

<body style="overflow-x: hidden;"></body>
<style>
	body {
		background-image: url('img/Lawrencium.jpg');
		background-size: cover;
	}
</style>
</head>
<body>
    <%- include('partials/headerp'); %>

	<div id="superDiv">
		<div class="container w-75 mt-5 p-3 d-flex rounded-3 bg-dark">
			<div class="input-group w-100">
				<input type="search" class="form-control rounded border-dark text-light" placeholder="Søk etter grupper"
					aria-label="Search" aria-describedby="search-addon" style="background-color: rgb(60, 64, 67, 0.90);" />
				<button type="button" class="btn btn-dark">Søk 
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
					</svg>
				</button>
				<div class="input-group w-25">
					<button id="newGroup_btn" type="button" class="btn btn-dark ms-auto">Opprett ny gruppe 
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
						</svg>
					</button>
				</div>
			</div>
		</div>
		<!--Kort for grupper-->
		<!-- 
			OM VI TRENGER FIXED HØYDE: 
			style = "height:18rem"
		-->
		<div class="card-group w-75 mx-auto mx-3 mt-3">
			<div class="row">
				<div class="col-sm-4" onclick="window.location = '/group'">
					<div class="card rounded-3 chromahover">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone</h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">NAV PÅ DENNE</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card rounded-3 chromahover">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone</h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">Antall medlemmer</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card rounded-3 chromahover">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone </h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">Antall medlemmer</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card rounded-3 chromahover my-2">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone </h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">Antall medlemmer</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card rounded-3 chromahover my-2">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone </h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">Antall medlemmer</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card rounded-3 chromahover my-2">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone </h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">Antall medlemmer</small></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card rounded-3 chromahover my-2">
						<img class="card-img-top" src="img/CallOfDuty_Warzone_Graphic.jpeg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Call of Duty Warzone </h5>
							<p class="card-text">Vet ikke hva vi skal skrive her</p>
							<p class="card-text"><small class="text-muted">Antall medlemmer</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
		document.getElementById("newGroup_btn").onclick = function() {
			document.getElementById("superDiv").innerHTML = `<%- include('partials/new-groupp'); %>`;
		}
	</script>
</body>
</html>