<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>Meldinger</title>
    <link rel="stylesheet" href="css/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/friends.css">


<body style="overflow-x: hidden; overflow-y: hidden;"></body>
<style>
    body {
        background-image: url('img/Lawrencium.jpg');
        background-size: cover;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script src="js/firebase_config.js" type="module"></script>
<script src="js/usercontroll.js" type="module"></script>
<script src="js/chat.js" type="module"></script>
<script src="js/settings.js" type="module"></script>
</head>
<!-- Jeg har lagt til denne i navigering -->
<!-- ^melding til meg selv (mats) -->

<body>
    <%- include('partials/headerp'); %>
    <%- include('partials/instillingerp'); %>


        <!--Content-->
        <div class="container-fluid"
            style="background: #202124; height:90vh; border-top-left-radius: 5px; margin-top:10px; margin-left:10px;"
            id="masterContainer">

            <div class="row">
                <div class="col-4 leftCol">
                    <!--TOP VENSTRE 44, 49 bg-dark-->
                    <div class="row" style="background: #202124; height:8vh;">
                        <div class="form-outline my-3">
                            <input type="search" id="form1" class="form-control border-dark d-flex my-auto"
                                placeholder="Finn en samtale" aria-label="Search"
                                style="margin-top:10px; margin-bottom:10px; color:rgb(211, 211, 211); background-color:rgb(60, 64, 67, 0.90);">
                        </div>
                    </div>
                    <!--BUNN VENSTRE  <img src="img/Gaal.jpg" alt=".." class="rounded-circle display-pic">  -->
                    <div class="row" style="height:81vh; overflow-y: scroll; overflow-x: hidden; background: #111;">
                        <ul class="list-group" style="margin:10px; width: calc(100% - 10px)" id="chat-list-left">
                            <!-- EKSEMPEL DATA
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                style="color: white; background-color: #111;">
                                <img src="img/Gaal.jpg" alt=".." class="rounded-circle display-pic">
                                <h3>JonKanon352</h3>
                                <span class="badge bg-primary rounded-pill">13</span>
                            </li>
                            -->

                        </ul>
                    </div>
                </div>
                <div class="col-8" id="rightCol">
                    <!--TOP HØYRE-->
                    <!--<button id="sendMsgBtn">barmen</button>-->
                    <div class="row border-bottom border-dark border-2" style="background: #202124; height:8vh;">
                        <div class="chat-info my-3">
                            <h2 id="msg-name-display" style="font-weight: 600;"></h2>
                        </div>
                        <div class="dropdown followingDropdown"
                            style="width: fit-content; height: fit-content; padding:0px;">
                            <button class="btn btn-secondary dropdown-toggle followingDropdown-btn" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButtonFriends">
                                Samtaler
                            </button>
                            <ul class="dropdown-menu person-dropdown bg-dark"
                                aria-labelledby="dropdownMenuButtonFriends" id="chat-list-top">
                                <!--EKSEMPELDATA
                                <li class="person-list-item-border">
                                    <a class="dropdown-item text-light" href="#" style="display: inline;">Gaal6969</a>

                                    <img src="img/chat-fill.svg" alt="..."
                                        style="filter:invert(100%); width:25px; height:25px; float:right; display: inline; margin-right:1em;">

                                </li>
                                -->

                            </ul>
                        </div>
                    </div>
                    <!--BUNN HØYRE-->
                    <div class="row bg-dark" style="height:80vh;">
                        <div class="chat-room bg-dark">
                            <!-- her havner selve meldingene, pr nå er det bare masse hardkoda meldinger -->
                            <div class="msg-board" id="msg_board">
                                <!-- EKSEMPELDATA
                                <div class="send-bubble">Heisan, Jon her!</div>
                                <div class="rec-bubble">Jon.. Jon som i JonKanon352</div>
                                -->

                            </div>

                            <form class="input-group mb-3 border-dark my-3" id="send_melding">
                                <input type="text" class="form-control border-dark text-light"
                                    placeholder="Send melding" style="background-color:rgb(60, 64, 67, 0.90);"
                                    aria-label="Send melding" aria-describedby="basic-addon2" id="melding_input">
                                <div class="input-group-append">
                                    <button class="btn btn-primary border-dark" type="submit"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                                        </svg></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            const whiz = JSON.parse(sessionStorage.getItem("bruker"));
            var meldinger = document.getElementById('msg_board');


            var aktivSamtale;
            function openChat(samtaleUID) {
                meldinger.innerHTML = ``; //Fjerner alle meldinger, før de riktige meldingene blir lagt til
                aktivSamtale = samtaleUID;
                localStorage.setItem("aktivSamtale", aktivSamtale);
                console.log("Gått i samtale, med ID: " + samtaleUID);
                firebase.database().ref('Samtale/' + samtaleUID).once('value', (snap) => {
                    if (snap.exists()) {
                        if (snap.val().Bruker1ID == whiz.Uid) {
                            firebase.database().ref('Bruker/' + snap.val().Bruker2ID).once('value', (ss) => {
                                document.getElementById("msg-name-display").innerHTML = ss.val().Brukernavn;
                            });
                        } else {
                            firebase.database().ref('Bruker/' + snap.val().Bruker1ID).once('value', (ss) => {
                                document.getElementById("msg-name-display").innerHTML = ss.val().Brukernavn;
                            });
                        }

                    }
                    firebase.database().ref('Samtale').child(samtaleUID).update({
                        "NyttFra": 0
                    }).then(() => {
                        var temp_LS = localStorage.getItem("Nytt") - 1;
                        console.log("Nytt: " + temp_LS);
                        localStorage.setItem("Nytt", temp_LS);
                        if (localStorage.getItem("Nytt") == 0) {
                            document.getElementById('ulestSamtale').style.display = "none";
                        }
                    });
                });

                //Henter tidligere meldinger, legger dem inn chat-vinduet
                firebase.database().ref('Samtale/' + aktivSamtale + '/Melding/').once('value', (snapshot) => {
                    snapshot.forEach(function (childSnapshot) {
                        var childData = childSnapshot.val();
                        if (childData.Bruker == whiz.Uid) {
                            meldinger.innerHTML += `<div class="send-bubble" style="background-color:green;">${childData.Melding}</div>`;
                            console.log("din nøkkel: " + childSnapshot.key);
                        } else {
                            meldinger.innerHTML += `<div class="rec-bubble" style="background-color:green;">${childData.Melding}</div>`;
                            console.log("nøkkel: " + childSnapshot.key);
                            if (childData.Sett == 0) {
                                firebase.database().ref('Samtale/' + aktivSamtale + '/Melding').child(childSnapshot.key).update({
                                    "Sett": 1
                                });
                                document.getElementById(aktivSamtale).innerHTML--;
                            }
                        }
                    });
                });
            }


            var skrivMelding = document.getElementById('send_melding');
            var meldingInput = document.getElementById('melding_input');
            skrivMelding.onsubmit = function (evt) {
                evt.preventDefault(); //Siden skal ikke reloade når man submitter/sender en melding
                if (aktivSamtale != null && meldingInput.value.trim() != "") {
                    firebase.database().ref('Samtale/' + aktivSamtale + '/Melding').push({
                        "SamtaleID": aktivSamtale,
                        "Melding": meldingInput.value,
                        "Bruker": whiz.Uid,
                        "Sett": 0
                    }).then(() => {
                        firebase.database().ref('Samtale/').child(aktivSamtale).update({
                            "NyttFra": whiz.Uid
                        });
                        meldingInput.value = '';
                    });
                }
            }
        /*
                                            firebase.database().ref("Melding/").on('child_added', function (snapshot) {
                                                var data = snapshot.val();
                                                if (data.SamtaleID == aktivSamtale) {
                                                    if (data.Bruker == whiz.Uid) {
                                                        meldinger.innerHTML += `<div class="send-bubble">${data.Melding}</div>`;
                                                    } else {
                                                        meldinger.innerHTML += `<div class="rec-bubble">${data.Melding}</div>`;
                                                    }
                                                }
                                            });*/

        </script>

        <!--<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="js/firebase_config.js" type="module"></script>
    <script src = "js/usercontroll.js" type="module"></script>
    <script src="js/chat.js" type="module"></script>-->
        <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
        <!--<script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <!--<script src="jquery-3.5.1.min.js"></script>-->


</body>

</html>