<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>Squadmates</title>
    <link rel="stylesheet" href="css/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/loader.css">

    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script type="module" src="js/firebase_config.js"></script>
    <script type="module" src="js/usercontroll.js"></script>
    <script src="js/settings.js" type="module"></script>
    <script type="module" src="js/home.js"></script>

    <!-- <body style="overflow-x: hidden;"></body> -->
    <style>
        body {
            background-image: url('img/Lawrencium.jpg');
            background-size: cover;
            /* !!!!!!!! PRØV Å KOMMENTER VEKK LINJA UNDER OG SE OM DET PASSER, 
                ELLER OM VI SKAL BRUKE BOOTSTRAP DEFAULT !!!!!!! */
                
            /* font-family: 'Source Code Pro', monospace; */
        }
    </style>
</head>
<body>
    <%- include('partials/headerp'); %>
    <%- include('partials/instillingerp'); %>

    <div id="super_div">
        <div id="second_subDiv">
            <%- include('partials/homep.ejs'); %>        
        </div>
    </div>

    <!-- <script>
        const user = '[' + '<%- bruker %>' + ']';
        var user2 = JSON.parse(user)[0];
        console.log(user2);

        function logout() {
            firebase.auth().signOut().then(() => {
                // trenger ingenting her
                window.location = "/";
            }).catch((error) => {
                alert(error); // mest sannsynlig vil ingen error forekomme
            });
        }
        document.getElementById("testBtn").onclick = function() {
            console.log(whiz);
        }
    </script> -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <!--<script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/action.js"></script>


    <script>
        function startSamtale(mottakerUID) {
            var finnesSamtale = false;
            if (whiz.Uid == mottakerUID) return; //Stopp metoden dersom bruker prøver å starte samtale med seg selv
            firebase.database().ref('Samtale').once('value', (snapshot) => {
                var data = snapshot.val();
                if (snapshot.exists()) {
                    for (let i in data) {
                        if ((data[i].Bruker1ID == mottakerUID && data[i].Bruker2ID == whiz.Uid) ||
                                (data[i].Bruker1ID == whiz.Uid && data[i].Bruker2ID == mottakerUID)) {
                            console.log("Samtalen eksisterer allerede!");
                            finnesSamtale = true;
                        }
                    }
                }
            }).then(() => {
                if (!finnesSamtale) {
                    //ville vanligvis brukt push istedet for set, men vi må ha tak i keyen som blir generert
                    var pushKey = firebase.database().ref('Samtale').push().key;
                    firebase.database().ref('Samtale').child(pushKey).set({
                        "Bruker1ID": whiz.Uid,
                        "Bruker2ID": mottakerUID,
                        "NyttFra": whiz.Uid
                    }).then(() => {
                        localStorage.setItem("aktivSamtale", pushKey);
                        //Redirect til chat-side
                        window.location = "/chat";
                    });
                } else {
                    window.location = "/chat";
                }
            });
        }
    </script>

    <script>
        //Funksjon for å åpne gruppesid med key lagret
		function getGroup(key) {
			// templating for når man åpner en gruppe: 
			window.open(key, '_self');
			$.post("/openGroup", {
				key: key
			}, function (data, status) {
				console.log(data);
			}
			);
		}

        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                setTimeout(function () {
                    window.location.reload();
                }, 500);
            }
        }
    </script>
</body>
</html>