<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>Squadmates</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
    <style>
        body {
            background-image: url('img/Lawrencium.jpg');
            background-size: cover;
            padding: 50px;
            padding-top: 200px;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/jq.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div id="landingsDiven" class="d-flex justify-content-between">
        <div class="intro-div" id="introDiv">
            <img src="img/Squadmates tech.png" style="width: 100%;" alt="Squadmates Logo">
            <br><br>

            <p class="intro-txt">
                Finn nye spillere, samle vennene dine, eller bygg et samfunn
                rundt spillene du liker. Squaden din venter på deg!
            </p>
            <br><br>

            <div class="btn-group">
                <button class="btn-grad" id="komIgang">Kom igang!</button>
                <button class="btn-grad btn2" id="login_knp">Logg Inn</button>
            </div>
        </div>
        <div class="login-div" id="loginDiv">
            <div class="wrapper fadeInDown">
                <div id="formContent" class="bg-dark chroma">
                    <div class="fadeIn first">
                        <br>
                        <h1 style="color: #fff; letter-spacing: 1.5px; font-family: 'Source Code Pro', monospace; font-size: 1.5vw;">Allerede registrert?</h1>
                    </div>

                    <form>
                        <br>
                        <input type="text" id="login" class="fadeIn second" name="login" placeholder="e-post"><br>
                        <input type="password" id="password" class="fadeIn third" name="login" placeholder="passord"><br>
                        <input type="button" id="loginBtn" class="fadeIn fourth" value="Logg Inn!">
                        <!-- <button class="fadeIn fourth">Logg Inn!</button> -->
                    </form>

                    <div id="formFooter">
                        <a class="underlineHover" href="/home">Glemt passord?</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

   <text class="text-white font-family: 'Press Start 2P', cursive;">Powered by</text> <a href="https://rawg.io" class="text-white fs-5">RAWG.io</a>
   
    <div id="reg-form" style="display: none !important;" class="d-flex justify-content-center">
        <%- include('partials/registrerp.ejs'); %>
    </div>


    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script type="module" src="js/firebase_config.js"></script>
    <script type="module" src="js/auth.js"></script>


    <script>
        var get_started = document.getElementById("komIgang").onclick = function() {
            var introDiv = document.getElementById("introDiv").style.display = 'none'; 
            var loginDiv = document.getElementById("loginDiv").style.display = 'none';
            var regForm = document.getElementById("reg-form").style.display = 'block';
            var regFormSub = document.getElementById("reg-form_sub-div").style.display = 'inline-block';
        }

        var login_btn = document.getElementById("login_knp").onclick = function() {
            var introDiv = document.getElementById("introDiv").style.display = 'none'; 
            var loginDiv = document.getElementById("loginDiv").style.display = 'block';
        }
    </script>
</body>
</html>