<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spill</title>
</head>
<body>
    <h1>Bruker API for å hente spill</h1>

    <input type="text" id="input" required placeholder="Søk..."/>
    
    <button id="knp" onclick="search(1)">Finn spill</button>

    <p id="demo"></p>

    <script>
        function search(i) {
            let inp = document.getElementById("input").value.toUpperCase();
            let para = document.getElementById("demo");  

            fetch("https://api.rawg.io/api/games?key=8d8b50415fd74e3baf7e69ac2f959516" + "&page=" + i, {
                "method": "GET",
            }).then(response => response.json()).then(data => {
                for(let j = 0; j < data.results.length; j++) {
                    let game = data.results[j].name; 
                    // para.innerHTML += game + "<br>";

                    if(game.toUpperCase().indexOf(inp) > -1) {
                        para.innerHTML += game + "<br>";
                    } else {
                        // search(i++);
                    }
                }
            }).catch(err => {
                para.innerHTML = err;
                // return;
            })
        }


        // var myArray = [];
        // for(let j = 2; j < 1390; j++) {
        //     fetch("https://api.rawg.io/api/games?key=8d8b50415fd74e3baf7e69ac2f959516" + "&page=" + j, {
        //         "method": "GET",
        //     }).then(response => response.json()).then(data => {
        //         for(let i = 0; i < data.results.length; i++) {
        //             document.write(data.results[i].name + "<br>");
        //         }
        //     }).catch(err => {
        //         console.error(err);
        //     });
        // }
    </script>
</body>
</html>