<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spill</title>
</head>
<body>
    <h1>Bruker API for å hente spill</h1>

    <script>
        var myArray = [];

        /*for(let j = 2; j < 30000; j++) {
            fetch("https://api.rawg.io/api/games?key=8d8b50415fd74e3baf7e69ac2f959516" + "&page=" + j, {
                "method": "GET",
            }).then(response => response.json()).then(data => {
                console.log(data);
                for(let i = 0; i < data.results.length; i++) {
                    console.log(data.results[i]);
                    document.write(data.results[i].name + "<br>");
                    // document.write(data);
                }
            }).catch(err => {
                console.error(err);
            });
        }*/

        fetch("https://data.brreg.no/enhetsregisteret/api/enheter", {
                "method": "GET",
            }).then(response => response.json()).then(data => {
                console.log(data);
                for(let i = 0; i < data.length; i++) {
                    console.log(data.results[i].embedded);
                    // document.write(data.results[i].name + "<br>");
                    // document.write(data);
                }
            }).catch(err => {
                console.error(err);
            });
    </script>
</body>
</html>