<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch</title>
    <link rel="stylesheet" href="css/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/home.css">

<body style="overflow-x: hidden;"></body>
<style>
    body {
        background-image: url('img/Lawrencium.jpg');
        background-size: cover;
    }
</style>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script type="module" src="js/firebase_config.js"></script>
<script type="module" src="js/usercontroll.js"></script>
</head>

<body>
    <%- include('partials/headerp'); %>



        <div class="container rounded-3 w-75 m-0 p-0 mx-auto mt-5 mb-0 text-light bg-danger bg-gradient"
            id=" infoGruppe">
            <div class="row d-flex">
                <div class="col-4 d-flex my-auto">
                    <h1 class="me-auto m-5">Nintendo Switch</h1>
                </div>

                <div class="col-8 d-flex my-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12vh" height="12vh" fill="currentColor"
                        class="bi bi-nintendo-switch ms-auto m-5" viewBox="0 0 16 16">
                        <path
                            d="M9.34 8.005c0-4.38.01-7.972.023-7.982C9.373.01 10.036 0 10.831 0c1.153 0 1.51.01 1.743.05 1.73.298 3.045 1.6 3.373 3.326.046.242.053.809.053 4.61 0 4.06.005 4.537-.123 4.976-.022.076-.048.15-.08.242a4.136 4.136 0 0 1-3.426 2.767c-.317.033-2.889.046-2.978.013-.05-.02-.053-.752-.053-7.979Zm4.675.269a1.621 1.621 0 0 0-1.113-1.034 1.609 1.609 0 0 0-1.938 1.073 1.9 1.9 0 0 0-.014.935 1.632 1.632 0 0 0 1.952 1.107c.51-.136.908-.504 1.11-1.028.11-.285.113-.742.003-1.053ZM3.71 3.317c-.208.04-.526.199-.695.348-.348.301-.52.729-.494 1.232.013.262.03.332.136.544.155.321.39.556.712.715.222.11.278.123.567.133.261.01.354 0 .53-.06.719-.242 1.153-.94 1.03-1.656-.142-.852-.95-1.422-1.786-1.256Z" />
                        <path
                            d="M3.425.053a4.136 4.136 0 0 0-3.28 3.015C0 3.628-.01 3.956.005 8.3c.01 3.99.014 4.082.08 4.39.368 1.66 1.548 2.844 3.224 3.235.22.05.497.06 2.29.07 1.856.012 2.048.009 2.097-.04.05-.05.053-.69.053-7.94 0-5.374-.01-7.906-.033-7.952-.033-.06-.09-.063-2.03-.06-1.578.004-2.052.014-2.26.05Zm3 14.665-1.35-.016c-1.242-.013-1.375-.02-1.623-.083a2.81 2.81 0 0 1-2.08-2.167c-.074-.335-.074-8.579-.004-8.907a2.845 2.845 0 0 1 1.716-2.05c.438-.176.64-.196 2.058-.2l1.282-.003v13.426Z" />
                    </svg>
                </div>
            </div>

            <div class="card border-0 mx-auto mt-0 mb-0" style="background:transparent">
                <div class="card-header mt-0 m-0" style="background: #202124;" id="headerGruppe">
                    <ul class="nav nav-pills card-header-tabs d-flex" id="bologna-list" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-light active" href="#innlegg" role="tab" aria-controls="innlegg"
                                aria-selected="true">Innlegg</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#medlemmer" role="tab" aria-controls="medlemmer"
                                aria-selected="false">Medlemmer</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body mx-auto p-0 m-0 bg-dark w-100">
                    <div class="tab-content mt-3">
                        <div class="tab-pane active" id="innlegg" role="tabpanel">
                            <div class="row d-flex p-0 m-0">
                                <div class="col-lg-5">
                                    <!---Nytt Innlegg-->
                                    <div class="card gedf-card mx-auto mt-1 mb-4 sticky-top"
                                        style="background: #202124;">
                                        <div class="card-header">
                                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link text-white border-0" style="background: #111;"
                                                        id="posts-tab" role="tab" aria-controls="posts"
                                                        aria-selected="false">Publiser et innlegg</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body" style="background: #111;">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="posts" role="tabpanel"
                                                    aria-labelledby="posts-tab">
                                                    <div class="form-group">
                                                        <div class="form-floating mb-3">
                                                            <input class="form-control border-dark text-light"
                                                                id="tittelSwitch" placeholder="Tittel"
                                                                style="background-color:rgb(60, 64, 67, 0.90)">
                                                            <label for="floatingInput"
                                                                style="color: white;">Tittel</label>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input class="form-control border-dark text-light"
                                                                id="beskrivelseSwitch" placeholder="Beskrivelse"
                                                                style="height: 100px; background-color:rgb(60, 64, 67, 0.90)">
                                                            <label for="beskrivelseSwitch"
                                                                style="color: white;">Beskrivelse</label>
                                                        </div>
                                                        <input type="file" class="form-control-file text-light mb-3"
                                                            id="choosePlatformPic">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-toolbar justify-content-between">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-dark mt-0" id="upload">Del
                                                        innlegg</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slutt på Nytt innlegg-->

                                <!-- Innlegg appendes hit-->
                                <div class="col-lg-7" id="postCol">

                                </div>
                            </div>
                        </div>

                        <!-- Medlemmer tab -->
                        <div class="tab-pane pb-5" id="medlemmer" role="tabpanel" aria-labelledby="deals-tab">

                            <!-- Appender medlemmer til disse listene ved hjelp av JQuery -->
                            <div class="row">
                                <div class="col-sm-4 mx-auto">
                                    <div class="list-group border-dark" id="følgerlisteSwitch">
                                        <a href="#" class="list-group-item list-group-item-action active"
                                            aria-current="true">
                                            <text>Medlemmer du følger: </text> <text id="followingcountSwitch">0</text>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 mx-auto">
                                    <div class="list-group border-dark" id="medlemslisteSwitch">
                                        <a href="#" class="list-group-item list-group-item-action active"
                                            aria-current="true">
                                            <text>Alle medlemmer: </text> <text id="membercountSwitch">0</text>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Kontoinnstillinger -->
            <div class="modal" id="settingsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content border-dark" style="background: #111;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                Innstillinger</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-1">
                            <!-- Nytt passord -->
                            <div class="row align-items-center">
                                <div class="card card-outline-secondary border-dark" style="background: #111;">
                                    <div class="card-header">
                                        <h3 class="mb-0">Bytt passord</h3>
                                    </div>
                                    <div class="card-body" style="background: #111;">
                                        <form class="form" role="form" autocomplete="off">
                                            <div class="form-group">
                                                <label for="inputPasswordOld">Nåværende passord</label>
                                                <input type="password"
                                                    class="form-control bg-dark text-light border-dark"
                                                    id="inputPasswordOld" required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPasswordNew">Nytt passord</label>
                                                <input type="password"
                                                    class="form-control bg-dark text-light border-dark"
                                                    id="inputPasswordNew" required="">
                                                <span class="form-text small text-muted">
                                                    Passordet må være 8-20 tegn, og kan <em>ikke</em> inneholde
                                                    mellomrom.
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPasswordNewVerify">Gjenta nytt passord</label>
                                                <input type="password"
                                                    class="form-control bg-dark text-light border-dark"
                                                    id="inputPasswordNewVerify" required="">
                                                <span class="form-text small text-muted">
                                                    For å bekrefte passordet, gjenta passordet her
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary float-right">Oppdater
                                                    passord</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- endre passord -->
                            </div>
                            <div class="modal-footer">
                                <div class="col w-100 d-flex p-3">
                                    <button class="btn-danger mx-auto" data-dismiss="modal"
                                        data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                        data-backdrop="false">
                                        Slett konto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slutt på modal kontoinnstillinger -->
            <!-- Modal slett konto -->
            <div class="modal" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="background: #111;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Slett konto</h5>
                            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Er du sikker på at du vil slette kontoen din?, dette kan ikke angres senere</h6>

                            <div class="form-group f">
                                <span class="form-text small text-muted">
                                    Oppgi passordet ditt for å slette kontoen
                                </span>
                                <input type="password" class="form-control bg-dark text-light border-dark"
                                    id="inputPasswordNewVerifySlett" required="">
                                <button class="btn btn-danger d-flex mx-auto mt-3">Slett konto permanent</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#settingsModal" data-bs-toggle="modal">Gå
                                tilbake</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slutt på Modal slett konto -->

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="css/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/action.js"></script>

        <script>
            $('#bologna-list a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        </script>
</body>

</html>