/* Beskrivelse av css-filen:

Siden har ansvar for styling hovedsaklig for "friends" partialen/siden
Den inneholder også klasse(r) som blir brukt i "chat", ettersom at disse to sidene er nokså
like utseende-messig. Klassen(e) som blir brukt i "chat" er klasse(r) som har med dropdown-meny å gjøre

*/


/* Boksen som inneholder alt - Setter størrelse og litt margin på top og venstre slik at vi ser litt av bakgrunnen til siden */
#first-layer {
    width:100%;
    height:90vh;
    margin: 10px 0px 0px 10px;
    border-top-left-radius: 5px;
}


/* Neste fire er for hver av de fire boksene siden er stykket opp i */
/*tl = top left, har en satt høyde som skal være lik for tl og tr*/
#tl-col {
    background: #202124;
    border-top-left-radius: 5px;
    height:8vh;
}
/*bl = bottom left*/
#bl-col {
    height: 77vh;
    overflow-y: scroll;
    overflow-x:hidden;
}

/*tr = top rightm har en satt hlyde som skal være lik for tl og tr*/
#tr-col {
     background: #202124;
    height:8vh;
}

.src-res {
    margin:10px;
    margin-top:    0px;
    margin-bottom: 0px;
    width: 97%;
    padding-left:  0px;
    padding-right: 0px;
}

/*Dette er for søkefelt som tilhører å søke etter en person du ikke følger*/
.src-after-person {
    border:none;
    background-color:rgb(60, 64, 67, 0.90);
    border-bottom: 2px solid rgb(60, 64, 67, 0.90);
    padding:10px 10px 3px 10px;
    font-size: large;
    border-radius: 3px;
}
.src-after-person:hover {
    border-color: rgba(90, 90, 90, 0.800);
    background-color: rgb(60, 64, 67, 0.90)
}

.src-after-person:focus {
    outline:none;
    border-color: rgb(200, 200, 200);
}

/*Dette er klasse(r) for å justere på lister/list-items. Listene har også klasser fra bootstrap*/
.person-list {
    border-radius: 0px;
}

.person-list-item {
    background-color: transparent;
    border:none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.800);
    display: none;
}
.person-list-item:hover {
    border:none;
    border-bottom: 1px solid rgba(211, 211, 211, 0.800);
}

/* Klassene under er styling for dropdown knapp og meny. Knappen tar også bruk av bootstrap-klasser, men vi har lyst til å justere litt*/
.followingDropdown {
    margin-bottom:0px;
    margin-top:10px;
    border-left: 1px solid #111;
    width: 15% !important;
    display: none;
}

.followingDropdown-btn {
    height: calc(8vh - 10px);
    width: 100%;
    background-color: #212529;
    border: none !important;
    border-radius: 0px;
    border-top-right-radius: 5px;
}

.followingDropdown-btn:focus {
    box-shadow: none !important;
    background-color: #363c42;
}

.followingDropdown-btn:active {
    box-shadow: none !important;
    background-color: #363c42;
}

.followingDropdown-btn:hover {
    background-color: #363c42;
}

.dropdown-item:hover {
    background-color: inherit;
}


/*Klassen(e) under endrer på selve listen/liste-elementene inni dropdown menyen*/

.person-dropdown {
    width: 70vw !important;
}

.person-list-item-border {
    border-bottom: 1px solid #363c42;
    padding-bottom:10px !important;
    padding-top:10px !important;
}

.person-list-item-border:hover {
    background-color: #363c42;
}


@media (max-width:1000px) {

    /*Denne klassen er for å venstre del av innholdet på siden, en forenklet versjon av innholdet vises da i dropdown menyen*/
    .skallering {
        width: 100%;
        padding-left:0px !important;
    }
    /*Dropdown knappen skal bare vises dersom skjermbredde blir for liten til å vise alt innhold på skjermen samtidig*/
    .followingDropdown { display:block; }

}
@media (max-width:600px) {
    
    .followingDropdown { width:20% !important; }
}