#friend-tab {
    background-color: orange;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-top:10px;
    margin-bottom:0px;
    padding:2px 30px 5px 30px;
}

#friend-search {
    margin-top:10px;
}

#my-friends-tab {
    background-color: #111;
    margin-top:20px;
    margin-bottom:0px;
    margin-left:10px;
    padding:2px 25px 5px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: max-content;
}
