button {
    position: relative;    
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif
}

button:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite
}

button:hover:before {
    opacity: 1
}

button:hover:active {
    background: none
}

button:hover:active:before {
    filter: blur(2px)
}

@keyframes animate {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 400% 0
    }

    100% {
        background-position: 0 0
    }
}


.neon-border {
    border-bottom: 0.1px solid #bc13fe;
    box-shadow: 0 0 .2rem #fff, 0 24px 22px -12px #bc13fe;
}

.chroma {
    position: relative;    
    border: none;
    outline: none;
    border-radius: 5px;
}
/*Litt finere chroma 30sek animation: #ff0202, #ff9900, #fffb00,#15ff00,#02ff89,#00ccff,#0004ff,#8400ff,#e100ff,#ff009d,#ff0000*/
/*Litt roligere, mer gjennomsiktig animation 20sek: rgba(255, 255, 255, 0.445), #79fbff73, #00eeff75,#ff26ed67, #00eeff73,#79fbff70,rgba(255, 255, 255, 0.445)*/
/*Favoritt så langt:                         45deg, rgba(255, 255, 255, 0.445), #79fbff73, #00eeffa6,#ff26ed, #00eeffa4,#79fbff70,rgba(255, 255, 255, 0.445)*/
.chroma:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.829), #79fbffa4, #00eeffa6,#ff26ed, #00eeffa4,#79fbffa9,rgba(255, 255, 255, 0.829));
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
}

.chroma:before {
    opacity: 1
}

.chroma:activ {
    background: none
}

@media (max-width: 1200px) {
    #navdesktop { display: none !important; }
    /* .card {width: 75% !important;}  Denne skapte problemer på Xbox siden*/ 
    .container {width: 75% !important;}
    
}

@media (max-width: 768px) {
    #navdesktop { display: none !important;}
    .card {width: 100% !important;}
    .container {width: 100% !important;}
    #profilbrukernavn { margin-left: 50px !important;}
    #søkebargrupper {width: 100% !important; margin:0% !important;}
    #søkefeltgrupper {width: 75% !important; margin:0% !important;}
    #opprettgruppebar {width: 100% !important; margin-top: 5px;}
    #medlemsliste {width: 100% !important;}
}

@media (min-width: 1200px) {
    #navmobile { display: none !important; }
}
.chromahover {
    position: relative;    
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif
}

.chromahover:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite
}

.chromahover:hover:before {
    opacity: 1
}

.chromahover:hover:active {
    background: none
}

.chromahover:hover:active:before {
    filter: blur(2px)
}

/* XBOX Chroma */
.chromaxbox {
    position: relative;    
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif
}

.chromaxbox:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ffffff, #77bb44, #2ca243, #107c10, #2ca243, #77bb44);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite
}

.chromaxbox:hover:before {
    opacity: 1
}

.chromaxbox:hover:active {
    background: none
}

.chromaxbox:hover:active:before {
    filter: blur(2px)
}

/* Playstation Chroma */
.chromaps {
    position: relative;    
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif
}

.chromaps:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #1e5ddb, #5cc9fb, #182580, #526879, #aebfd4, #2e393d);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite
}

.chromaps:hover:before {
    opacity: 1
}

.chromaps:hover:active {
    background: none
}

.chromaps:hover:active:before {
    filter: blur(2px)
}

/* Nintendo Switch Chroma */
.chromaswitch {
    position: relative;    
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif
}

.chromaswitch:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg,#00c3e3, #ff4554, #989898, #414548, #e60012);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite
}

.chromaswitch:hover:before {
    opacity: 1
}

.chromaswitch:hover:active {
    background: none
}

.chromaswitch:hover:active:before {
    filter: blur(2px)
}

/* Steam Chroma */
.chromasteam {
    position: relative;    
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif
}

.chromasteam:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg,	#171a21,#66c0f4,#1b2838, #2a475e,#c7d5e0);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite
}

.chromasteam:hover:before {
    opacity: 1
}

.chromasteam:hover:active {
    background: none
}

.chromasteam:hover:active:before {
    filter: blur(2px)
}
